.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px
 }   .services-title{
    position: relative;

 };
.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.services-title img{
    z-index: -1;
    position: absolute;
    right: 0;
    bottom:0;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    padding: 6px;
    border-radius: 10px;
    border:2px solid white;
    transition: 0.5s;
    cursor:pointer;
}
 .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; /* Fixed to three columns */
    gap: 10px;
    margin-bottom: 30px;
    padding-right: 40px; /* Adjusted padding */
}

.services-format h3{
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF9567 50%, #56bf97 100.6%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.services-format h2{
    font-size:20px;
    font-weight: 500;
      
}
.services-readmore{
    display: flex;
    gap:20px;
    align-items: center;
    margin-top: 20px;
}
.services-format:hover{
    border:2px solid #56bf97;
    background-image:  linear-gradient(270deg, #67dfc1 50%, #bf56bf1c 100.6%);
    transform:scale(1.05);
    transition: 0.4s;
}
@media(max-width:768px){
    .services{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;

    }
    .services-title{
        padding: 0px;
        font-size: 20px;
    }
    .services-format{
        gap: 20px;
        padding: 32px;
        width: 270px;
        height: auto;
    }
    .services-format h3{
        font-size: 18px;
    }
    .services-format h2{
        font-size: 13px;
        line-height: 32px;
        max-width: 300px;
    }
    .services-readmore img{
        width:100px;
    }
    .services-container{
 grid-template-columns: 1fr;  
gap: 30px;  }
}