.hero{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 100px;
}
.hero h1{
    text-align: center;
    font-size:50px ;
    font-weight: 600;
    width:70%

}
.hero h1 span{
    background: linear-gradient(267deg, #4625da 0.36%, #B923E1 102.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width:50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display:flex;
    text-align: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;margin-bottom: 50px;
}
.hero-connect{
    padding: 15px 35px;
    cursor: pointer;
    background: linear-gradient(267deg, #67da25 0.36%, #883a9e 102.26%);
    border-radius: 50px;
}
.hero-resume{
    padding: 15px 45px;
    border-radius: 50px;
    cursor: pointer;
    border:2px solid #fff;
}
.hero-connect:hover{
    border:2px solid white;
}
.hero-resume:hover{
    border-color:#b4f155 ;
}
@media(max-width:768px){
    .hero img{
        margin-top: 60px;
        width: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 30px;
    }
    .hero p{
        width: 75%;
        font-size: 18px;
        line-height: 30px;
        margin: 10px 0px;

    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        border-radius: 40px;
        padding: 20px 50px;
    }
}